// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.banner {
	width:100%;

	background-color: $topbar-bg; // Old browsers
	margin-bottom:0.5pt;
	.bannerContainer{
		max-width:$row-width;
		margin: auto;
		padding:10px;
		img{
			display: block;
			margin: auto;
			max-width: 100%;
			float: center;
			text-align:center;
		}
	}
}

.top-Bar-navigation {
	display:block;
	background-color: $topbar-bg; 
}

.top-bar.expanded {
	background-color:rgb(51, 51, 51);
}

@mixin sectionBase{
	.row{
		padding-top:50px;
		padding-bottom:50px;
	}

	p{
		color:#fff;
	}
	h2{
		color:#fff;
	}
}

.sectionGrey{
	@include sectionBase;
	padding-left:10px;
	background-color: #2b2b2b; // Old browsers
	@include filter-gradient(#2b2b2b, #2b2b2b, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #2b2b2b 0%,#111111 25%,#111111 75%,#2b2b2b 100%));
	@include box-shadow(#2b2b2b 0px 5px 25px 0px);
}

.sectionRed{
	@include sectionBase;
	background-color: #911824;
	padding-left:10px;
	@include filter-gradient(#911824, #911824, horizontal);
	@include background-image(linear-gradient(left,  #911824 0%,#b91e32 25%,#b91e32 75%,#911824 100%));
	@include box-shadow(#911824 0px 5px 25px 0px);
}

.sectionOrange{
	@include sectionBase;
	padding-left:10px;
	background-color: #b76c16;
	@include filter-gradient(#b76c16, #b76c16, horizontal);
	@include background-image(linear-gradient(left,  #b76c16 0%,#fa961e 25%,#fa961e 75%,#b76c16 100%));
	@include box-shadow(#b76c16 0px 5px 25px 0px);
}

.sectionBlue{
	@include sectionBase;
	padding-left:10px;
	background-color: #2d749b;
	@include filter-gradient(#2d749b, #2d749b, horizontal);
	@include background-image(linear-gradient(left,  #2d749b 0%,#41aae6 25%,#41aae6 75%,#2d749b 100%));
	@include box-shadow(#2d749b 0px 5px 25px 0px);
}
.sectionGreen{
	@include sectionBase;
	padding-left:10px;
	background-color: #658e2a;
	@include filter-gradient(#658e2a, #658e2a, horizontal);
	@include background-image(linear-gradient(left,  #658e2a 0%,#8cc83c 25%,#8cc83c 75%,#658e2a 100%));
	@include box-shadow(#658e2a 0px 5px 25px 0px);
}

.rest{
	background-color:#e4e8dc;
	padding-top:50px;
}

.footer{
	background-color:#2b2b2b;
	padding-top:25px;
	padding-bottom:25px;
	h3{
		color:#fff;	
	}


	ul{
		list-style-type:none;
		a{
			color:#2d749b;
		}
		
	}
	@include box-shadow(#2b2b2b 0px 0px 15px 0px);
}

.center{
	margin:auto;
	display:block;
	text-align:center;
}

.codeH{
	border-style: solid;
	border-color: #B7B7B7;
	border-width:2px;
}

.blog{
	h3, h5{
		font-family:"Ubuntu";
	}
	h3{
		margin-bottom:0px;
	}
}

.copyright{
	text-align:center;
	font-family:"Helvetica";
	padding-top: 5px;

	p, a{
		color: #454545;
		font-style: italic;
		a{
			text-decoration: underline;
		}
	}

}
